---
layout: default
---
<!-- people.html -->
<div class="post">

<header class="post-header">
	<h1 class="post-title">{{ page.title }} </h1>
	<p class="post-description">{{ page.description }}  in research</p>
</header>

<style>

.outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding: 0 0px;
}

.inner-grid {
   flex-direction: column;
   flex: 20%;
   max-width: 100%;
   padding: 0 0px;
}
.inner-grid img {
   margin-top: 2px;
   width: 100%;
   padding: 5px;
   border-radius: 50%;
}
@media screen and (max-width: 800px) {
   .inner-grid {
      flex: 50%;
      max-width: 50%;
   }
}
@media screen and (max-width: 600px) {
   .inner-grid {
      flex: 100%;
      max-width: 100%;
   }
}
</style>

<paragraph>

I have been extremely fortunate and remain grateful in having collaborated with and being mentored by amazing people. They have been instrumental in my research journey and continue to be massive sources of inspiration. Here are some of them, in order of the first time I met them (there is no way I can quantify the impact each one of them have had on me).

</paragraph>
<br>
<br>


<div class="outer-grid">

<div class="inner-grid">
<img src="../assets/people/tanvi.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/dhruv.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/debg.jpg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/soba.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/jhawar.jpg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/joyopal.jpg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/arshia.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/agrima.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/anmol.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/saloni.webp"/>
</div>

<div class="inner-grid">
<img src="../assets/people/suban.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/anirbansen.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/sukhnidh.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/monojit.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/regina.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/dibyendu.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/hangal.png"/>
</div>

<div class="inner-grid">
<img src="../assets/people/zainab.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/martin.jpeg"/>
</div>

<div class="inner-grid">
<img src="../assets/people/adivashistha.jpeg"/>
</div>


<div class="inner-grid">
</div>

<div class="inner-grid">
</div>

<div class="inner-grid">
</div>

</div>

</div>
