---
layout: default
---
<!-- people.html -->
<div class="post">

<header class="post-header">
	<h1 class="post-title">{{ page.title }} </h1>
	<p class="post-description">{{ page.description }}  in research</p>
</header>

<style>

.outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding: 0 0px;
}

.inner-grid {
   flex-direction: column;
   flex: 20%;
   max-width: 100%;
   padding: 0 0px;
}
.inner-grid img {
   margin-top: 2px;
   width: 100%;
   padding: 5px;
   border-radius: 50%;
}
@media screen and (max-width: 800px) {
   .inner-grid {
      flex: 50%;
      max-width: 50%;
   }
}
@media screen and (max-width: 600px) {
   .inner-grid {
      flex: 100%;
      max-width: 100%;
   }
}
</style>

<paragraph>

I have been extremely fortunate and remain grateful in having collaborated with and being mentored by amazing people. They have been instrumental in my research journey and continue to be massive sources of inspiration. Here are some of them, in order of the first time I met them (there is no way I can quantify the impact each one of them have had on me).

</paragraph>
<br>
<br>


<div class="outer-grid">

<div class="inner-grid">
<a href="https://in.linkedin.com/in/tanvi-roy">
<img src="../assets/people/tanvi.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://agdhruv.github.io/">
<img src="../assets/people/dhruv.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://debayangupta.com/">
<img src="../assets/people/debg.jpg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://in.linkedin.com/in/soham-bagchi">
<img src="../assets/people/soba.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://sites.google.com/site/homeofmahavir/Home">
<img src="../assets/people/jhawar.jpg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://scholar.google.co.in/citations?user=WGjWgoEAAAAJ&hl=en">
<img src="../assets/people/anirbanmondal.png"/>
</a>
</div>

<div class="inner-grid">
<a href="https://joyojeet.people.si.umich.edu/">
<img src="../assets/people/joyopal.jpg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://arshiaarya.github.io/">
<img src="../assets/people/arshia.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://agrimaseth.github.io/">
<img src="../assets/people/agrima.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://anmolpanda.github.io/">
<img src="../assets/people/anmol.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://scholar.google.com/citations?user=5-Fyc8MAAAAJ&hl=en">
<img src="../assets/people/saloni.webp"/>
</a>
</div>

<div class="inner-grid">
<a href="https://www.cse.iitd.ac.in/~suban/">
<img src="../assets/people/suban.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://scholar.google.co.in/citations?user=xTlFkqAAAAAJ&hl=en">
<img src="../assets/people/anirbansen.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://www.instagram.com/pavemented/">
<img src="../assets/people/sukhnidh.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://www.microsoft.com/en-us/research/people/monojitc/">
<img src="../assets/people/monojit.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://twitter.com/ReginaDulanjali">
<img src="../assets/people/regina.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://dibyendumishra.github.io/">
<img src="../assets/people/dibyendu.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://xenon.stanford.edu/~hangal/">
<img src="../assets/people/hangal.png"/>
</a>
</div>

<div class="inner-grid">
<a href="https://scholar.google.com/citations?user=NXFwzv0AAAAJ&hl=en">
<img src="../assets/people/zainab.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://publictech.space/">
<img src="../assets/people/meg.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://dramesh14.github.io/">
<img title="Divya Ramesh" src="../assets/people/ramesh.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="http://www.martinsaveski.com/">
<img title="Martin Saveski" src="../assets/people/martin.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://sourojitghosh.github.io/">
<img title="Sourojit Ghosh" src="../assets/people/ghosh.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://twitter.com/bakkermichiel">   
<img  title="Michiel Bakker" src="../assets/people/bakker.jpeg"/>
</a>
</div>

<div class="inner-grid">
<a href="https://samemon.github.io/">   
<img  title="Shahan Ali Memon" src="../assets/people/shahan.jpeg"/>
</a>
</div>



<div class="inner-grid">
</div>

<div class="inner-grid">
</div>

<div class="inner-grid">
</div>


<div class="inner-grid">
</div>


</div>

</div>
